{% extends "base.html.twig" %}

{% block content %}
    <h1>{{ content.title }}</h1>

    {{ content.article|raw }}

    {% if content.form|default %}
        {% if app.request.query.get('send') == 'true' %}
            <div>
                {{ view.form.entity.successText|raw }}
            </div>
        {% else %}
            {% form_theme content.form '@SuluForm/themes/dynamic.html.twig' %}
            {{ form(content.form) }}
        {% endif %}
    {% endif %}
{% endblock %}
