name: Test application

on:
    pull_request:
    push:
        branches:
            - 'main'
            - '[0-9]+.x'
            - '[0-9]+.[0-9]+'

jobs:
    test:
        name: 'PHP ${{ matrix.php-version }} (${{ matrix.dependency-versions }}, Coverage ${{ matrix.coverage }})'
        runs-on: ubuntu-latest

        strategy:
            fail-fast: false
            matrix:
                include:
                    - php-version: '7.4'
                      dependency-versions: 'lowest'
                      coverage: false

                    - php-version: '8.0'
                      dependency-versions: 'highest'
                      coverage: true

        services:
            mysql:
                image: mysql:8.0
                env:
                    MYSQL_ALLOW_EMPTY_PASSWORD: 'true'
                ports:
                    - 3306:3306
                options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=5

        steps:
            - name: Checkout project
              uses: actions/checkout@v2

            - name: Install and configure PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: ${{ matrix.php-version }}
                  extensions: ctype, iconv, mysql

            - name: Install composer dependencies
              uses: ramsey/composer-install@v1
              with:
                  dependency-versions: ${{ matrix.dependency-versions }}

            - name: Bootstrap test environment
              run: composer bootstrap-test-environment

            - name: Execute test cases
              if: ${{ matrix.coverage == false }}
              run: composer test

            - name: Execute test cases with coverage
              if: ${{ matrix.coverage == true }}
              run: composer test-with-coverage

            - name: Upload code coverage to coveralls
              if: ${{ matrix.coverage == true }}
              run: |
                  composer global require php-coveralls/php-coveralls
                  php-coveralls --coverage_clover=tests/reports/clover.xml --json_path=tests/reports/coveralls.json -vvv
              env:
                  COVERALLS_REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}

            - name: Check code coverage
              if: ${{ matrix.coverage == true }}
              run: composer check-coverage

    lint:
        name: 'PHP Lint'
        runs-on: ubuntu-latest

        steps:
            - name: Checkout project
              uses: actions/checkout@v2

            - name: Install and configure PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: 8.1
                  extensions: ctype, iconv, mysql

            - name: Install composer dependencies
              uses: ramsey/composer-install@v1
              with:
                  dependency-versions: highest

            - name: Lint Code
              run: composer lint
